{% extends 'base.html.twig' %}

{% block title %}SpéléoMatt
{% endblock %}

{% block body %}
	<header>
		<div class="example-wrapper">
			<ul class="ulnav">
				<li>
					<a href="{{ path('app_home') }}" title="Jouer">
						Accueil
					</a>
				</li>
				<li>
					<a href="{{path('app_logout')}}" title="Déconnexion">Au revoir
						{{ app.user.pseudo is not null ? app.user.pseudo : app.user.fullname }}
						!</a>
				</li>
			</ul>
		</div>
	</header>
	<main>
		<div>
			<h1>FORMATION</h1>

			<section>
				{{ form_start(form) }}
				{{ form_end(form) }}
			</section>
			<section>
				<hr><hr>
				<ul>
					{% set i = 0 %}
					{% for formation in formations %}
						<li>
							{{ formation.name }}

							{% if i == 0 %}
								<ul>
									{% for tempformation in tabformation0 %}
										<li>
											{{ tempformation.name }}
										</li>
									{% endfor %}
								</ul>
							{% endif %}

							{% if i == 1 %}
								<ul>
									{% for tempformation in tabformation1 %}
										<li>
											{{ tempformation.name }}
										</li>
									{% endfor %}
								</ul>
							{% endif %}
							{% set i = i + 1 %}
							<hr>
						</li>
					{% endfor %}
				</ul>
			</section>
		</div>
	</main>
{% endblock %}
