{% extends 'base.html.twig' %}

{% block title %}SpéléoMatt
{% endblock %}

{% block body %}
	<header>
		<div class="example-wrapper">
			<ul class="ulnav">
				<li>
					<a href="{{ path('app_home') }}" title="Jouer">
						Accueil
					</a>
				</li>
				<li>
					<a href="{{path('app_logout')}}" title="Déconnexion">Au revoir
						{{ app.user.pseudo is not null ? app.user.pseudo : app.user.fullname }}
						!</a>
				</li>
			</ul>
		</div>
	</header>
	<main>
		<div>
			<h1>FORMATION</h1>
			{% if form is defined %}
				<h2>Compose ton équipe d'aventuriers</h2>
				<section class="divcenter">
					{{ form_start(form) }}
					{{ form_end(form) }}
				</section>
				<section>
					<hr><hr>
				</section>
				<section>
					<h3>(ton équipe doit comporter 5 personnages)</h3>
				</section>
				<section>
					<hr><hr>
				</section>
			{% endif %}
			<section>
				<ul class="ulnav">
					{% for formation in tabformations %}
						<li>
							{{ formation.characters_id }}
						</li>
					{% endfor %}
				</ul>
				<hr>
			</section>
			<section>
				{% if teamOK == 1 %}
					<div class="divcenter">
						<p>
							<h2>
								Ton équipe est prête
							</h2>
						</p>
						<a href='./' title="Jouer">
							<h3>
								GO !
							</h3>
						</a>
					</section>
				</div>
			{% endif %}
		</main>
	{% endblock %}
