{% extends 'base.html.twig' %}

{% block title %}Page de jeu
{% endblock %}

{% block body %}
	<div class="example-wrapper">
		<ul class="ulnav">
			<li>
				<a href="{{ path('app_home') }}" title="Jouer">
					Accueil
				</a>

			</li>
			<li>
				<a href="{{ path('app_logout') }}" title="Déconnexion">
					Déconnexion
				</a>

			</li>
		</ul>


		<h2>{{ fight.log }}</h2>
		<ul>
			<li>{{ formation0.name }}</li>
			<ul>
				{% set i = 0 %}
				{% for character in characters0 %}
					<li>
						{{ character.characters.name }}
						(N°{{ character.characters.id }}) (Position:
						{{ character.positionCharacter }}) :
					</li>
					<ul>
						{% for strategy in strategies0[i] %}
							<li>
								{{ strategy.strategies.name }}
								(N°:
								{{ strategy.strategies.id }})
							</li>
						{% endfor %}
					</ul>
					{% set i = i + 1 %}
				{% endfor %}
			</ul>

			<li>{{ formation1.name }}</li>
			<ul>
				{% set i = 0 %}
				{% for character in characters1 %}
					<li>
						{{ character.characters.name }}
						(N°{{ character.characters.id }}) (Position:
						{{ character.positionCharacter }}) :
					</li>
					<ul>
						{% for strategy in strategies1[i] %}
							<li>
								{{ strategy.strategies.name }}
								(N°:
								{{ strategy.strategies.id }})
							</li>
						{% endfor %}
					</ul>
					{% set i = i + 1 %}
				{% endfor %}
			</ul>
		</ul>
	</div>
{% endblock %}
